<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Add To Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <form #addToInventoryForm="ngForm" (ngSubmit)="onSubmit(addToInventoryForm)">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input disabled [value]="product?.name | titlecase"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Brand</ion-label>
      <ion-input disabled [value]="product?.brand | titlecase"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Units</ion-label>
      <ion-input type="number" [ngModel]="product?.cart[gid]" name="units" min="1" #cart></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Total Cost <small>(Required)</small></ion-label>
      <ion-input type="number" [ngModel]="(+product?.price/ +product?.quantity) * +cart.value" name="cost" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-row class="ion-text-center" style="display:flex; flex-flow: row">
        <ion-button fill="clear" (click)="onDismiss()">Cancel</ion-button>
        <ion-button type="submit" fill="clear" [disabled]="addToInventoryForm.invalid">
          Add Product
        </ion-button>
      </ion-row>
    </ion-item>
  </form>
</ion-content>
