<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8">

        <ion-toolbar size="12" class="ion-text-center ion-margin-top" style="background-color: #1f1f1f;">
          <ion-title>Groups</ion-title>
          <ion-buttons slot="primary">
            <ion-button (click)="addGroupForm = !addGroupForm; selectedGroup = ''" [disabled]="groups?.length === 3">
              <ion-icon name="add-outline" *ngIf="!addGroupForm" slot="icon-only"></ion-icon>
              <ion-icon name="close" *ngIf="addGroupForm" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row style="background-color: rgb(40, 41, 44);">
          <ion-col size="12" *ngIf="addGroupForm">
            <form (ngSubmit)="addGroup(createGroupForm)" #createGroupForm="ngForm" *ngIf="!selectedGroup">
              <ion-item lines="none">
                <ion-input ngModel name="group" placeholder="Add Group" required minlength="3" maxlength="20">
                </ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="createGroupForm.invalid">
                  Add
                </ion-button>
              </ion-item>
            </form>
            <form (ngSubmit)="editGroup(updateGroupForm)" #updateGroupForm="ngForm" *ngIf="selectedGroup">
              <ion-item lines="none">
                <ion-input [ngModel]="selectedGroup.group" name="group" placeholder="Edit Group" required minlength="3"
                  maxlength="20"></ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="updateGroupForm.invalid">
                  Update
                </ion-button>
              </ion-item>
            </form>
          </ion-col>
          <ion-col size="12" class="ion-text-center"
            [ngClass]="{'ion-padding': groupError === '' && groups?.length === 0}">
            <ion-list *ngIf="groupError === '' && groups?.length > 0">
              <ion-radio-group [value]="currentGroup" #currentGrp (ionChange)="setCurrentGroup(currentGrp.value)">
                <ion-item *ngFor="let group of groups;">
                  <ion-radio slot="start" [value]="getKeyVal(group).key"></ion-radio>
                  <ion-label>{{getKeyVal(group).value | titlecase}}</ion-label>
                  <ion-button fill="clear"
                    (click)="presentGroupActionSheet(getKeyVal(group).value, getKeyVal(group).key)">
                    <ion-icon name="ellipsis-vertical" color="dark"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-text *ngIf="groupError === '' && groups?.length === 0">No Items Found</ion-text>
            <ion-text *ngIf="groupError !== ''">{{groupError}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-toolbar size="12" class="ion-text-center ion-margin-top" style="background-color: #1f1f1f;">
          <ion-title>Categories</ion-title>
          <ion-buttons slot="primary">
            <ion-button (click)="addCategoryForm = !addCategoryForm; selectedCategory = ''">
              <ion-icon name="add-outline" *ngIf="!addCategoryForm" slot="icon-only"></ion-icon>
              <ion-icon name="close" *ngIf="addCategoryForm" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row style="background-color: rgb(40, 41, 44);">
          <ion-col size="12" *ngIf="addCategoryForm">
            <form (ngSubmit)="addCategory(createCategoryForm)" #createCategoryForm="ngForm" *ngIf="!selectedCategory">
              <ion-item lines="none">
                <ion-input ngModel name="category" placeholder="Add Category" required minlength="3" maxlength="20">
                </ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="createCategoryForm.invalid">
                  Add
                </ion-button>
              </ion-item>
            </form>
            <form (ngSubmit)="editCategory(updateCategoryForm)" #updateCategoryForm="ngForm" *ngIf="selectedCategory">
              <ion-item lines="none">
                <ion-input [ngModel]="selectedCategory.category" name="category" placeholder="Edit Category" required
                  minlength="3" maxlength="20"></ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="updateCategoryForm.invalid">
                  Update
                </ion-button>
              </ion-item>
            </form>
          </ion-col>
          <ion-col size="12" class="ion-text-center"
            [ngClass]="{'ion-padding': categoryError === '' && categories?.length === 0}">
            <ion-list *ngIf="categoryError === '' && categories?.length > 0">
              <ion-item *ngFor="let category of categories;">
                <ion-label [innerText]="getKeyVal(category).value | titlecase"></ion-label>
                <ion-button fill="clear"
                  (click)="presentCategoryActionSheet(getKeyVal(category).value, getKeyVal(category).key)">
                  <ion-icon name="ellipsis-vertical" color="dark"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-text *ngIf="categoryError === '' && categories?.length === 0">No Items Found</ion-text>
            <ion-text *ngIf="categoryError !== ''">{{categoryError}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-toolbar size="12" class="ion-text-center ion-margin-top" style="background-color: #1f1f1f;">
          <ion-title>Expenses</ion-title>
          <ion-buttons slot="primary">
            <ion-button (click)="addExpenseForm = !addExpenseForm; selectedExpense = ''">
              <ion-icon name="add-outline" *ngIf="!addExpenseForm" slot="icon-only"></ion-icon>
              <ion-icon name="close" *ngIf="addExpenseForm" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-row style="background-color: rgb(40, 41, 44);">
          <ion-col size="12" *ngIf="addExpenseForm">
            <form (ngSubmit)="addExpense(createExpenseForm)" #createExpenseForm="ngForm" *ngIf="!selectedExpense">
              <ion-item lines="none">
                <ion-input ngModel name="expense" placeholder="Add Expense" required minlength="3" maxlength="20">
                </ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="createExpenseForm.invalid">
                  Add
                </ion-button>
              </ion-item>
            </form>
            <form (ngSubmit)="editExpense(updateExpenseForm)" #updateExpenseForm="ngForm" *ngIf="selectedExpense">
              <ion-item lines="none">
                <ion-input [ngModel]="selectedExpense.expense" name="expense" placeholder="Edit Expense" required
                  minlength="3" maxlength="20"></ion-input>
                <ion-button type="submit" fill="clear" color="dark" [disabled]="updateExpenseForm.invalid">
                  Update
                </ion-button>
              </ion-item>
            </form>
          </ion-col>
          <ion-col size="12" class="ion-text-center"
            [ngClass]="{'ion-padding': expenseError === '' && expenses?.length === 0}">
            <ion-list *ngIf="expenseError === '' && expenses?.length > 0">
              <ion-item *ngFor="let expense of expenses;">
                <ion-label [innerText]="getKeyVal(expense).value | titlecase"></ion-label>
                <ion-button fill="clear"
                  (click)="presentExpenseActionSheet(getKeyVal(expense).value, getKeyVal(expense).key)">
                  <ion-icon name="ellipsis-vertical" color="dark"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-text *ngIf="expenseError === '' && expenses?.length === 0">No Items Found</ion-text>
            <ion-text *ngIf="expenseError !== ''">{{expenseError}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-toolbar size="12" class="ion-text-center ion-margin-top" style="background-color: #1f1f1f;">
          <ion-title>Inventory View</ion-title>
        </ion-toolbar>

        <ion-row style="background-color: rgb(40, 41, 44);">
          <ion-col size="12">
            <ion-radio-group name="getProductView" [value] = "settings.getProductsView" (ionChange)="updateGetProductView(productView.value)" #productView>
              <ion-item>
                <ion-label>View all products</ion-label>
                <ion-radio slot="start" value="all"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>View products in stock</ion-label>
                <ion-radio slot="start" value="partial"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
