<ion-header>
  <ion-toolbar>
    <ion-title>Expenses
      <ion-label *ngIf="currentGroup?.name"><small>({{currentGroup?.name|titlecase}})</small></ion-label>
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="presentExpenseAlert()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" class="ion-text-center">
        <ion-toolbar size="12" class="ion-text-center" style="background-color: #1f1f1f;">
          <ion-buttons slot="start">
            <ion-button size="small" (click)="updateSelectMonth(-1)">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{months[selectedMonth] | titlecase}} {{selectedYear}}</ion-title>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="updateSelectMonth(1)">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list style="background-color: rgb(40, 41, 44);">
          <ion-card>
            <ion-item style="font-size: 0.9rem;">
              <ion-label color="primary">Total Expenditure</ion-label>
              <ion-text color="success">{{total}} /-</ion-text>
            </ion-item>
          </ion-card>
          <ion-card *ngFor="let date of expenseDates">
            <ion-card-header>
              <ion-card-subtitle>
                {{months[selectedMonth] | titlecase}}, {{date.date}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-item style="font-size: 0.9rem;">
              <ion-label color="primary">Product(s)</ion-label>
              <ion-text color="primary">Units | Cost</ion-text>
            </ion-item>
            <ion-item *ngFor="let expense of expenses[date.date]; let i = index;">
              <ion-label><small>{{expense?.name | titlecase}} <span *ngIf="expense?.brand">
                    {{"(" + expense?.brand + ")" | titlecase }}</span></small></ion-label>
              <ion-text><small>{{expense?.units}} | {{expense?.cost}}</small></ion-text>
              <ion-button fill="clear" (click)="presentExpenseActionSheet(expense, i)" class="ion-no-padding">
                <ion-icon name="ellipsis-vertical" color="dark" slot="end"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item style="font-size: 0.9rem;">
              <ion-label color="warning">Total</ion-label>
              <ion-text>{{expensesDateTotal[date.date]}} /-</ion-text>
            </ion-item>
          </ion-card>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
