<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6" size-xl="4"
        class="ion-margin-start ion-margin-end ion-no-padding">
        <ion-item style="border-radius: 20px;" lines="none">
          <ion-input placeholder="Search Item"></ion-input>
          <ion-icon name="search-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
