<ion-header>
  <ion-toolbar>
    <ion-title>Expenses
      <ion-label *ngIf="currentGroup?.name"><small>({{currentGroup?.name|titlecase}})</small></ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" class="ion-text-center">
        <ion-toolbar size="12" class="ion-text-center" style="background-color: #1f1f1f;">
          <ion-buttons slot="start">
            <ion-button size="small" (click)="updateSelectMonth(-1)">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{months[selectedMonth] | titlecase}} {{selectedYear}}</ion-title>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="updateSelectMonth(1)">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
